$Lato: 'Lato', sans-serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  min-height: 120px;
  background-color: transparent;
  position: absolute;
  .header_menu {
    margin: 0;
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 30px;
      .logo {
        padding-top: 41px;
        cursor: pointer;
        img {
          padding: 0;
        }
      }
      .menu {
        ul {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          li {
            margin-top: 51px;
            padding-left: 40px;
            a {
              text-transform: uppercase;
              font-family: $Lato;
              text-decoration: none;
              font-size: 16px;
              color: rgb(69, 69, 70);
              line-height: 1.2;
              transition: 0.3s;
            }
            a:hover {
              color: rgb(255, 255, 255);
              line-height: 1.2;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
            }
          }
          li:hover::after {
            opacity: 1;
          }
          li::after {
            min-width: 55px;
            height: 5px;
            background-color: rgb(0, 181, 210);
            display: block;
            content: "";
            opacity: 0;
            transition: 0.3s;
            position: relative;
            z-index: 1;
            top: 41px;
          }
        }
      }
    }
  }

  .wrapper {
    //margin: 100px auto;
    width: 320px;
    //background-color: #000;
    //position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 40px;
    font-family: $Lato;
    display: none;
    z-index: 10;
  }
  #check-menu {
    display: none;
  }
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: .5s all;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 25px;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
  }
  .burger {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(225, 170, 110, 0.7);
    text-transform: uppercase;
    font-family: $Lato;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
  }
  .burger:hover {
    background-color: rgba(0, 0, 0, .9);
  }
  #check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  @media screen and (max-width: 596px) {
    .logo{
      width: 115%;
    }
    .menu {
      display: none;
    }
    .wrapper {
      display: block;
    }
  }
  @media screen and (max-width: 362px) {
    .logo{
      width: 165%;
    }
  }
}

.hero {
  width: 100%;
  min-height: 660px;
  background: url("../images/Background_0.png") no-repeat center;
  background-size: cover;
  .text_block {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 175px;
    min-width: 320px;
    h2 {
      font-size: 48px;
      font-family: $Lato;
      color: rgb(255, 255, 255);
      font-weight: 900;
      line-height: 1.2;
      text-align: left;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      .help {
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
    }
    h2:hover::after {
      opacity: 1;
    }
    h2:after {
      width: 96px;
      height: 4px;
      background-color: rgb(0, 181, 210);
      display: block;
      content: "";
      opacity: 0;
      transition: 0.3s;
      position: relative;
      z-index: 1;
      top: 18px;
      left: 177px;
    }
    p {
      font-size: 18px;
      font-family: $Lato;
      color: rgb(255, 255, 255);
      line-height: 1.667;
      text-align: left;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
      padding-bottom: 45px;
      margin: 0;
      max-width: 455px;
    }
    .btn {
      display: block;
      width: 262px;
      background-color: rgb(225, 170, 110);
      padding: 23px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
      font-family: $Lato;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: center;
      box-shadow: 0 10px 0 rgba(186, 142, 91, 1), 0 12px 10px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
    }
    .btn:hover {
      background-color: rgba(232, 175, 114, 1);
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
      transform: translate(0, 5px);
    }
  }
  @media screen and (max-width: 340px) {
      .text_block {
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
      }
  }
}

.owl-carousel {
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-top: 30px;
  padding-bottom: 30px;
  .container_partners {
    display: flex;
    margin: auto;
    max-width: 150px;
  }
  .owl-item img {
    width: auto;
    padding-left: 22px;
    padding-right: 22px;
  }
  .owl-nav {
    display: none;
  }
  .owl-dots {
    display: none;
  }
}

.middle_block {
  width: 100%;
  min-height: 500px;
  background: url("../images/Background_1.png") no-repeat center;
  background-size: cover;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  h2 {
    font-size: 48px;
    font-family: $Lato;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: 900;
    text-shadow: 0 1px 0 rgba(86, 207, 225, 0.5);
  }
  p {
    font-size: 18px;
    font-family: $Lato;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-shadow: 0 1px 0 rgba(86, 207, 225, 0.6);
  }
}

.contact_block {
  padding-top: 70px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  h4 {
    font-size: 24px;
    color: rgb(119, 119, 119);
    font-family: $Lato;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 1px 0 rgba(119, 119, 119, 0.5);
  }
  p {
    font-size: 18px;
    font-family: $Lato;
    color: rgb(68, 68, 68);
    line-height: 1.667;
    padding-bottom: 62px;
    text-shadow: 0 1px 0 rgba(119, 119, 119, 0.5);
    max-width: 65%;
    margin: auto;
  }
  a {
    display: block;
    width: 262px;
    background-color: rgb(225, 170, 110);
    padding: 23px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: $Lato;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    box-shadow: 0 10px 0 rgba(186, 142, 91, 1), 0 12px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }
  a:hover {
    background-color: rgba(232, 175, 114, 1);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    transform: translate(0, 5px);
  }
}

.photo_block {
  background: url("../images/Background_2.jpg") no-repeat center;
  background-size: cover;
  .photo_carousel {
    .owl-item img {
      display: block;
      margin: 0 auto;
      z-index: 5;
      max-width: 756px;
    }
    .owl-nav {
      display: none;
    }
    .owl-dots {
      display: none;
    }
  }
    .owl-carousel, .owl-carousel .owl-item{
      top: 50px;
      border: none;
  }
}


.team_block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
  margin-bottom: 59px;
  .team_img {
    width: 150%;
    min-height: 440px;
    background: url("../images/Picture.png") no-repeat center;
    background-size: cover;
  }
  .team_text {
    background-color: rgba(54, 122, 183, 1);
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 42px;
    display: flex;
    justify-content: flex-start;
    .team_text_italic {
      font-size: 18px;
      font-family: $Lato;
      color: rgb(255, 255, 255);
      font-style: italic;
      line-height: 1.667;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    }
    h2 {
      font-size: 48px;
      font-family: $Lato;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      font-weight: 900;
      margin: 0;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
      .team {
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
    }
    h2:hover::after {
      opacity: 1;
    }
    h2:after {
      width: 120px;
      height: 4px;
      background-color: rgb(0, 181, 210);
      display: block;
      content: "";
      opacity: 0;
      transition: 0.3s;
      position: relative;
      z-index: 1;
      top: 18px;
      left: 192px;
    }
    p {
      font-size: 18px;
      font-family: $Lato;
      color: rgb(255, 255, 255);
      line-height: 1.667;
      width: 85%;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    }
    .btn_blue {
      display: block;
      width: 262px;
      background-color: rgb(0, 181, 210);
      padding: 23px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
      font-family: $Lato;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: center;
      box-shadow: 0 10px 0 rgba(0, 142, 165, 1), 0 12px 10px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
    }
    .btn_blue:hover {
      background-color: rgba(0, 190, 219, 1);
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
      transform: translate(0, 5px);
    }
  }
  @media screen and (min-width: 1201px) {
    .team_img {
      width: 100%;
      min-height: 440px;
      background: url("../images/Picture.png") no-repeat;
      background-size: cover;
    }
  }
  @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 90px;
      margin-bottom: 59px;
      .team_img {
        width: 100%;
        min-height: 440px;
        background: url("../images/Picture.png") no-repeat;
        background-size: cover;
      }
  }
  @media screen and (max-width: 360px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
   min-width: 320px;
    padding-top: 90px;
    margin-bottom: 59px;
    .team_img {
      width: 100%;
      min-height: 440px;
      background: url("../images/Picture.png") no-repeat;
      background-size: cover;
    }
     .team_text {
       .team_text_italic {
         font-size: 16px;
       }
       h2 {
         font-size: 40px;
       }
       p {
         font-size: 16px;
       }
       .btn_blue {
         width: 220px;
         font-size: 18px;
       }
     }
  }
}

footer {
  border-top: 3px solid rgb(204, 204, 204);
  .footer_menu {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      list-style: none;

      li {
        padding: 51px 20px 20px;
        a {
          text-transform: uppercase;
          font-family: $Lato;
          text-decoration: none;
          font-size: 16px;
          color: rgb(153, 153, 153);
          font-weight: bold;
          line-height: 1.2;
          transition: 0.3s;
        }
        a:hover {
          color: rgba(0, 0, 0, 0.65);
          line-height: 1.2;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
        }
      }
    }
  }
  .decor {
    display: flex;
    justify-content: center;
    img {
      margin: 20px;
    }
  }
  .adds {
    text-align: center;
    p {
      font-size: 14px;
      font-family: $Lato;
      color: rgba(170, 170, 170, 1);
      line-height: 1.929;
    }
    a {
      text-decoration: none;
      font-size: 13px;
      font-family: $Lato;
      color: rgb(225, 170, 110);
      font-weight: bold;
      line-height: 2.109;
      text-align: center;
      transition: 0.3s;
    }
    a:hover {
      color: rgba(225, 170, 110, 0.4);
    }
    a::after {
      content: '';
      display: block;
      margin: 50px auto 35px auto;
      height: 1px;
      width: 80%;
      background-color: rgb(238, 238, 238);
    }
    .copyright {
      font-size: 12px;
      font-family: $Lato;
      color: rgba(170, 170, 170, 0.6);
      line-height: 1.2;

    }
  }
}